<div id="container" style="margin-left: 40px; margin-top: 40px;">
  <div id="head">
    <h1>Interview Registration</h1>
    <ul>
      <% @interviewee.interviews.map { |interview| %>
        <li>You have an interview in <%= interview.room %> for the position <%= interview.position.title %> at <%= interview.scheduled_at.strftime("%B %d, %Y %I:%M%p") %></li>
      <% } %>
    </ul>
  </div>
  <div id="main" style="margin-top: 50px;">
    <a href="/interviewees" class="btn" id="">Back to Signup</a>
  </div>

  <% if (@interviewee.interviews.size < 2) %>
    <div id="morePlease" style="margin-top: 50px;">
      <legend>Interview for a second Position</legend>
    </br></br>
      <form action="/interviewees" method="post">
        <label>Role</label>
        <% positions = Position.all.map { |position| [position.title]}%>
        <%= select_tag(:position, options_for_select(positions)) %>
      </br></br>
        <input name="_method" type="hidden" value="put" />
        <input type="hidden" name="id" value="<%= @interviewee.id %>">
        <input class="btn" type="submit">
      </form>
    </div>
  <% end %>
</div>